/* .text {
  color: white !important;
} */

/* .textActive {
  color: rgb(0, 0, 0) !important;
} */

.display {
  float: right;
  background-color: transparent;
}

@media screen and (min-width: 601px) {
  div .collapse {
    display: block;
  }
}
