.controls {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
}

.active {
  background-color: black;
  box-shadow: 0 0 8px 8px gold, inset 0 0 4px 4px silver;
  color: white;
  font-weight: bolder;
}

.active:hover,
.controls:hover {
  background-color: silver;
  color: black !important;
  box-shadow: 0 0 8px 8px gold;
}
