.topContainer {
  width: 100%;
  height: 6% !important;
  background-color: black;
  padding-right: 0.02%;
  padding-left: 0.02%;
  align-items: center;
}

.homeContainer {
  width: auto;
  display: flex;
  align-self: flex-start;
  justify-content: left;
}

.dropDown {
  display: flex;
  justify-content: flex-end;
}
