.main {
  background-color: white;
  border-radius: 8px;
  z-index: 22;
}

.svg {
  height: 3rem;
  width: 4rem;
  color: red;
  z-index: 22;
}

.divClass {
  border-radius: 8px;
  position: relative;
  height: 3rem;
  width: 4rem;
  background-color: red;
  color: red;
  z-index: 20;
}
