.Bottom {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.copyright {
  text-align: center;
  color: white;
  margin: 0;
}

.dateDiv {
  width: 50%;
  margin: auto;
  background-color: transparent;
  text-align: center;
}
