.main {
  width: 100%;
  margin-top: 50px;
  border: none;
}

.messageBox {
  position: static;
  background-color: inherit;
  color: inherit;
  width: inherit;
}

.textArea {
  width: 100%;
  margin: auto;
  margin-top: 2%;
  color: white;
  padding: 2%;
  height: 30vh;
  text-decoration: none !important;
  border-color: gold;
  /* border-style: solid; */
  text-indent: 2rem;
  font-size: larger;
  overflow-y: auto;
  text-align: left;
}

/* width */
.textArea::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.textArea::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

/* Handle */
.textArea::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 10px;
}

/* Handle on hover */
.textArea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.inputGroup {
  display: inline-flex;
  background-color: rgba(255, 204, 0, 0.116);
  border-width: none !important;
  border-radius: 0 !important;
}

.inputGroup.table {
  border: none !important;
}

.sendersDescription {
  margin-right: 1%;
}

.sendersName {
  margin-right: 5%;
}

.button {
  width: 30%;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: inset 0 0 20px 4px blanchedalmond;
}

.heading {
  color: white;
}

.input {
  width: 33%;
}

@media screen and (max-width: 600px) {
  .textArea::-webkit-scrollbar {
    display: none;
  }

  .inputGroup {
    display: block;
  }
}
