.rightTopNav a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: transparent;
}

.rightTopNav .icon {
  display: none;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .hidden {
    display: none;
  }
}
