.buttonClass {
  width: 20%;
}

.iconClass {
  width: 50px;
  height: 50px;
}

.buttonDiv {
  height: 50px;
}

.buttonClass:active {
  box-shadow: 2px 0 2px 0 black;
  vertical-align: baseline;
}

.p {
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 200px) {
  .p {
    margin: 0;
    padding: 0;
    font-size: x-small;
    margin: auto;
    margin-top: 10%;
  }
}
