.blogPage {
  color: white;
  text-align: left;
  justify-content: left;
  align-items: left;
  background-image: url("../../media/tree.jpg");
  background-attachment: scroll;
  background-position: center;
  min-height: 100vh;
}

.color {
  background-color: rgba(255, 89, 0, 0.434);
}
