.gitHub {
  background-color: black;
}

.webSite {
  background-color: black;
}

.gitHub:hover {
  background-color: rgba(170, 35, 35, 0.218) !important;
}

.webSite:hover {
  background-color: rgba(0, 0, 0, 0.218) !important;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 20%;
}
